*{
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body
{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    /*height: 100vh;*/
}

header
{
    width: 100%;
    background: url('../images/a.png');
    height: 135px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.header__logo
{
    text-transform: uppercase;
    padding-top: 70px;
    font-size: 40pt;
    margin-left: 5%;
    color: #ffffff;
}

.content {
    flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    padding: 20px;
}
.footer {
    flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    padding: 20px;
    text-align: center;
    color: gray;
}



#middle {
    position:relative;
    z-index:4;
    overflow:hidden;
    width:100%;
    /*min-width:640px;*/
    /*max-width: 1640px;*/
    background-color:#fff;
    margin: 0 auto;
    padding-top: 50px;
    color:inherit;
    flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));*/
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
    grid-gap: 1rem;

}
*html #middle {
    overflow:visible;
    height:100%;
}

#photo {
    position:relative;
    z-index:1;
    /*float:left;*/
    /*border: 2px solid #9799a7;*/
    padding:1.5em 2%;
}


#content {
    position:relative;
    z-index:1;
    padding:1.5em 2%;
    left: 3%;
    background-color:#fff;
    color:inherit;
    height: 500px;
}

#text {

    position:relative;
    z-index:1;
    background-color:#fff;
    color:inherit;
}

h1{
    font-size: 50pt;
}
ul{
    font-size: 30pt;
}
.description{
    font-size: 15pt;
}

.button {
    position: relative;
    text-align: center;
    padding: 15px 25px;
    top: 225px;
    font-size: 30pt;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #7b77c9;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #999;
    text-transform: uppercase;
    margin-left: 50%;
    height: 90px;
    width: 323px;
}

.button:hover {background-color: #706bdf}

.button:active {
    background-color: #706bdf;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.image
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}





